CONFIG_SEC_HEAT_PROJECT=y
CONFIG_MACH_HEAT_DYN=y
# CONFIG_EXT_MAINMIC_BIAS is not set
CONFIG_EXT_SUBMIC_BIAS=y

CONFIG_SENSORS=y
CONFIG_PROXIMITY_SENSOR=y
CONFIG_SENSORS_GP2A002=y
CONFIG_SENSORS_BMA254=y
CONFIG_SENSORS_POWER_EN=y
CONFIG_SENSORS_POWERCONTROL=y

CONFIG_FB_MSM_MIPI_CMD_WVGA_ILI9806B_PT_PANEL=y

CONFIG_BACKLIGHT_CONTROL_DCS=y
CONFIG_LEDS_SEC_BACKLIGHT=y
CONFIG_MSM_VIBRATOR=y
