on early-init
	
on init

    # create Container (KNOX 1.0) mountpoints for KNOX Migration
    mkdir /knox_data 0775 root system
    mkdir /knox_data/userdata 0775 system system
    mkdir /knox_data/appdata 0775 system system

    mkdir /mnt/shell/knox-emulated 0700 system system
    mkdir /storage/extSdCard 0000 system system

    symlink /storage/extSdCard /mnt/extSdCard
    symlink /mnt/shell/knox-emulated /storage/knox-emulated

    export KNOX_EMULATED_STORAGE_SOURCE /data/knox/knox-emulated


on post-fs-data

    # create knox filesystem structure
    mkdir /data/knox 0771 system system
    mkdir /data/knox/data 0771 system system
    mkdir /data/knox/knox-emulated 0771 system system
    mkdir /data/knox/sdcard 0771 system system
    mkdir /data/knox/media 0771 system system
    mkdir /data/knox/ext_sdcard 0771 system system
    mkdir /data/knox/app 0771 system system
    mkdir /data/knox/tmp 0771 system system

    export KNOX_STORAGE /data/knox/ext_sdcard

    restorecon /data/knox

on boot

# virtual sdcard daemon running as system (1000)
service knox /system/bin/sdcard /data/knox/sdcard /mnt/shell/knox-emulated 1000 1000
    class late_start
    oneshot

    start knox

