# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot
    # Define TCP buffer sizes for various networks
    # ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.lte     524288,1048576,2560000,524288,1048576,2560000
    setprop net.tcp.buffersize.umts    4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hspa    4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsupa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsdpa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hspap   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680

    # tdmb
    chown system system /dev/tdmb
    chmod 0660 /dev/tdmb

    # Permissions for usb_lock
    chown system radio /sys/class/sec/switch/.usb_lock/enable

    # NFC_BROADCOM
    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
    mkdir /data/bcmnfc
    mkdir /data/bcmnfc/param
    chmod 0700 /data/bcmnfc
    chmod 0700 /data/bcmnfc/param
    chown nfc nfc /data/bcmnfc
    chown nfc nfc /data/bcmnfc/param

on post-fs-data
    restorecon /dev/icd
    restorecon /dev/icdr

service dmb /system/bin/dmbserver
    class main
    user media
    group system radio inet misc audio camera graphics net_bt net_bt_admin sdcard_rw sdcard_r shell media_rw

on post-fs-data
    # SKT LAW Permanent memory access
    mkdir /efs/sktdm_mem 0771 root root
    chown radio system /efs/sktdm_mem
    chmod 0771 /efs/sktdm_mem

    # MOBILE OFFICE Permanent memory access
    mkdir /efs/security 0771 root root
    chown radio system /efs/security
    chmod 0771 /efs/security

    #skt except scan list
    chmod 0644 /data/misc/wifi/hiddenAPs.txt

    # for SKT TBASED
    mkdir /data/tbased 0775 root wifi
    chown root wifi /data/tbased
    chmod 0775 /data/tbased

    chown wifi wifi /system/lib/libiwlan_module.so
    chmod 0644 /system/lib/libiwlan_module.so
    chmod 0755 /system/bin/tbased

    # SKT PM PlayReady
    mkdir /data/playready 771 system skt
    chown system skt /data/playready
    chmod 0771 /data/playready

    # SKT DRM for hoppin
    mkdir /data/data/.sktdrm 0775
    chown system radio /data/data/.sktdrm
    chmod 0775 /data/data/.sktdrm
    
    # CP Reset Log
    mkdir /data/radio 0770 radio radio

# SKT TBASE
service tbased /system/bin/tbased
    class main
    user root
    oneshot

# bluetooth dhcp config
service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
    class late_start
    disabled
    oneshot
