# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot
    # IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket

    # Define TCP buffer sizes changing by uscc req.
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.lte     4096,2097120,2097120,4096,2097120,2097120
    setprop net.tcp.buffersize.evdo    4096,65535,65535,4096,65535,65535
    setprop net.tcp.buffersize.1xrtt   4096,65535,65535,4096,65535,65535

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 65535

# umount service
service umount_service /system/bin/umount /preload
    disabled
    oneshot

# IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin

#RIL wants to change tcp_window_scaling
on property:ril.tws=1
    write /proc/sys/net/ipv4/tcp_window_scaling 1

on property:ril.tws=0
    write /proc/sys/net/ipv4/tcp_window_scaling 0

# bluetooth dhcp config
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot
