# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on early-boot
    chown bluetooth net_bt_stack /dev/ttyHS0
    chmod 0660 /dev/ttyHS0

on boot
# permission for Input Device(Touchkey).
    chmod 0660 /sys/class/input/input2/enabled
    chown system system /sys/class/input/input2/enabled
    chown radio system /sys/class/sec/sec_touchkey/touch_sensitivity
    chown radio system /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chown system radio /sys/class/sec/sec_touchkey/boost_level
# permission for Input Device(Wacom).
    chmod 0660 /sys/class/input/input3/enabled
    chown system system /sys/class/input/input3/enabled
    chown system radio /sys/class/sec/sec_epen/epen_firm_update
    chown system radio /sys/class/sec/sec_epen/epen_rotation
    chown system radio /sys/class/sec/sec_epen/epen_hand
    chown system radio /sys/class/sec/sec_epen/epen_reset
    chown system radio /sys/class/sec/sec_epen/epen_reset_result
    chown system radio /sys/class/sec/sec_epen/epen_checksum
    chown system radio /sys/class/sec/sec_epen/epen_checksum_result
    chown system radio /sys/class/sec/sec_epen/epen_saving_mode
    chown system radio /sys/class/sec/sec_epen/boost_level

# SSWAP
    write /proc/sys/vm/swappiness 130	


# permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

# bluetooth LPM
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite
    chmod 0600 /dev/btlock
    chown bluetooth bluetooth /dev/btlock

## mount carreir partition for SPR model ##
on init
    mkdir /carrier 0771 system system

on fs
    wait /dev/block/platform/msm_sdcc.1/by-name/carrier
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/carrier /carrier nosuid nodev barrier=1
    chown system system /carrier
    chmod 0771 /carrier
  
    
#For Absolute Persistence Partition 
       
     mkdir /persdata 0755 system system 
     mkdir /persdata/absolute 0750 system system 
  
     wait /dev/block/platform/msm_sdcc.1/by-name/persdata 
     check_fs /dev/block/platform/msm_sdcc.1/by-name/persdata ext4 
     mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persdata /persdata/absolute nosuid nodev barrier=1 
      
     chown system system /persdata 
     chmod 0755 /persdata 
     chown system system /persdata/absolute 
     chmod 0750 /persdata/absolute

# TODO: replace it with device's DEXPREOPT_BOOT_JARS

# service for TZPR provisioning version check app
service scranton_RD /system/bin/scranton_RD
    class main
    user root
    disabled
    oneshot

# start for TZPR provisioning version check app
on property:sys.qseecomd.enable=true
    start scranton_RD

#InsideSecure VPN Client
service vpnclientpm /system/bin/vpnclientpm -u 1000 -g 1000 \
     -O /data/data/com.ipsec.service/vpnclientpm.txt \
     -U rmnet,rmnet_usb,wlan,bt-pan,rndis,p2p,eth
      socket vpnclientpm seqpacket 0600 system system
      disabled
on property:service.vpnclientpm.enable=1
      start vpnclientpm
on property:service.vpnclientpm.enable=0
      stop vpnclientpm

# bootchecker
service bootchecker /system/bin/bootchecker
    class late_start
    user system
    group system log
    oneshot

# SSWAP
service swapon /sbin/sswap -s
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot   	
#
# VOWIFI - This RILD service defined here will override the one
# defined in the main init.rc to support Sprint VoWiFI project.
#
service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket rild-cas stream 660 casdrm mmb
#
# VoWiFi: Added cfiat and kipc socket for Sprint VoWiFi project.
    socket cfiat stream 660 radio inet
    socket kipc stream 660 radio inet
# End of VoWiFi
#
    user root
    group radio cache inet misc audio log qcom_diag system drmrpc
