# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

## mount carrier partition for SPR model ##
on init
    mkdir /carrier 0771 system system

on fs
    wait /dev/block/platform/msm_sdcc.1/by-name/carrier
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/carrier /carrier nosuid nodev barrier=1
    chown system system /carrier
    chmod 0771 /carrier

on boot
    # NFC_BROADCOM
    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
    mkdir /data/bcmnfc
    mkdir /data/bcmnfc/param
    chmod 0700 /data/bcmnfc
    chmod 0700 /data/bcmnfc/param
    chown nfc nfc /data/bcmnfc
    chown nfc nfc /data/bcmnfc/param

#InsideSecure VPN Client
service vpnclientpm /system/bin/vpnclientpm -u 1000 -g 1000 -O /data/data/com.ipsec.service/vpnclientpm.txt -U rmnet,rmnet_usb,wlan,bt-pan,rndis,p2p,eth
    socket vpnclientpm seqpacket 0600 system system
    disabled

on property:service.vpnclientpm.enable=1
    start vpnclientpm

on property:service.vpnclientpm.enable=0
    stop vpnclientpm

# VOWIFI - This RILD service defined here will override the one
# defined in the main init.rc to support Sprint VoWiFI project.
service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket rild-cas stream 660 casdrm mmb
# VoWiFi: Added cfiat and kipc socket for Sprint VoWiFi project.
    socket cfiat stream 660 radio inet
    socket kipc stream 660 radio inet
# End of VoWiFi
    user root
    group radio cache inet misc audio log qcom_diag system drmrpc

# bluetooth dhcp config
service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
    class late_start
    disabled
    oneshot
