on post-fs-data
    # Broadcom NFC
    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
    mkdir /data/bcmnfc
    mkdir /data/bcmnfc/param
    chmod 0700 /data/bcmnfc
    chmod 0700 /data/bcmnfc/param
    chown nfc nfc /data/bcmnfc
    chown nfc nfc /data/bcmnfc/param
