# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot
    # IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 1048576
    write /proc/sys/net/core/wmem_max 2097152

# IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin

# bluetooth dhcp config
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot
