# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot
    # Set model info
    setprop ro.product.model SM-N900T
    setprop ro.product.name hltetmo

    # IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket

    # Define TCP buffer sizes for various networks
    # ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.wifi    524288,1048576,4525824,524288,1048576,4525824
    setprop net.tcp.buffersize.lte     524288,1048576,2560000,524288,1048576,2560000
    setprop net.tcp.buffersize.umts    14090,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.hspa    12200,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hsupa   4094,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hsdpa   12200,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hspap   20970,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.edge    8192,26280,704512,4096,16384,110208
    setprop net.tcp.buffersize.gprs    8192,30000,704512,4096,8760,110208

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 1048576
    write /proc/sys/net/core/wmem_max 2097152

on fs
    # Support Preload install apks
    mkdir /preload 0771 system system

# umount service
service umount_service /system/bin/umount /preload
    disabled
    oneshot
    
# Support Preload install apks
on property:persist.sys.storage_preload=1
    mount ext4 /dev/block/mmcblk0p25 /preload nosuid nodev ro barrier=1
    setprop storage.preload.complete 1

on property:persist.sys.storage_preload=0
    start umount_service

# IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin

# bluetooth dhcp config
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot
