# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot
    # Define TCP buffer sizes for various networks
    # ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.lte     524288,1048576,2560000,524288,1048576,2560000
    setprop net.tcp.buffersize.umts    4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hspa    4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsupa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsdpa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hspap   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680

    # tdmb
    chown system system /dev/tdmb
    chmod 0660 /dev/tdmb

    # Permissions for usb_lock
    chown system radio /sys/class/sec/switch/.usb_lock/enable

    # NFC_BROADCOM
    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
    mkdir /data/bcmnfc
    mkdir /data/bcmnfc/param
    chmod 0700 /data/bcmnfc
    chmod 0700 /data/bcmnfc/param
    chown nfc nfc /data/bcmnfc
    chown nfc nfc /data/bcmnfc/param

on post-fs
    # for LGU I-WLAN
    insmod /system/lib/modules/mwlan_aarp.ko
    chmod 0755 /system/bin/mwlan_helper

on post-fs-data
    restorecon /dev/icd
    restorecon /dev/icdr

    # LGT contents directory
    mkdir /data/data/com.ubivelox.wipiplayer/W 0770 system lgt_gid
    mkdir /data/LGTContents 0770 system lgt_gid
    mkdir /data/LGTContents/video 0770 system lgt_gid
    mkdir /data/LGTContents/music 0770 system lgt_gid
    mkdir /data/LGTContents/bell 0770 system lgt_gid
    mkdir /data/LGTContents/app 0770 system lgt_gid
    mkdir /data/LGTContents/DLtmp 0770 system lgt_gid
    mkdir /data/LGTContents/ringforme 0770 system lgt_gid

    chown system lgt_gid /data/data/com.ubivelox.wipiplayer/W
    chown system lgt_gid /data/LGTContents
    chown system lgt_gid /data/LGTContents/video
    chown system lgt_gid /data/LGTContents/music
    chown system lgt_gid /data/LGTContents/bell
    chown system lgt_gid /data/LGTContents/app
    chown system lgt_gid /data/LGTContents/DLtmp
    chown system lgt_gid /data/LGTContents/ringforme

    # MOBILE OFFICE Permanent memory access
    mkdir /efs/security 0771 root root
    chown radio system /efs/security
    chmod 0771 /efs/security

    # CP Reset Log
    mkdir /data/radio 0770 radio radio

service dmb /system/bin/dmbserver
    class main
    user media
    group system radio inet misc audio camera graphics net_bt net_bt_admin sdcard_rw sdcard_r shell media_rw

# for LGU I-WLAN service
service mwlan_vpncored /system/bin/mwlan_helper @vpncored
    user system
    group system inet
    disabled
    oneshot

service diag_knight /system/bin/diag_knight
    class main
    socket DMPort stream 660 root radio
    user root
    group system radio log

# bluetooth dhcp config
service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
    class late_start
    disabled
    oneshot
