# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot
    # Define TCP buffer sizes for various networks
    # ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.wifi    524288,1048576,4525824,524288,1048576,4525824
    setprop net.tcp.buffersize.lte     524288,1048576,2560000,524288,1048576,2560000
    setprop net.tcp.buffersize.umts    4094,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.hspa    4094,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hsupa   4094,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hsdpa   4094,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hspap   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,30000,30000,4096,8760,11680
    setprop net.tcp.buffersize.evdo    4094,87380,262144,4096,16384,262144

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 1048576
    write /proc/sys/net/core/wmem_max 2097152

#InsideSecure VPN Client
service vpnclientpm /system/bin/vpnclientpm -u 1000 -g 1000 -O /data/data/com.ipsec.service/vpnclientpm.txt -U rmnet,rmnet_usb,wlan,bt-pan,rndis,p2p,eth
    socket vpnclientpm seqpacket 0600 system system
    disabled

on property:service.vpnclientpm.enable=1
    start vpnclientpm

on property:service.vpnclientpm.enable=0
    stop vpnclientpm

# bluetooth dhcp config
service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
    class late_start
    disabled
    oneshot
